.quiz-container {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px;
  padding: 5px ;
}

.question-section {
  margin: 5px auto;
}

.question-text {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #745b4f;

}



.answer-section {
  display: flex;
  justify-content: center; /* Center the buttons */
  align-items: center; /* Center the grid */
  flex-wrap: wrap; /* Ensure buttons wrap on smaller screens */
  gap: 20px; /* Add consistent spacing between buttons */
}

.answer-button {
  width: 280px; /* Set a fixed width for buttons */
  height: 200px; /* Set consistent height */
  border: none;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 20px;

  font-weight: 400;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center; /* Center text inside button */
  align-items: center; /* Center text vertically */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.answer-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .answer-button {
    width: 100%; /* Adjust width for smaller screens */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto;
  }
  .answer-section {
    gap: 1rem; /* Reduce gap on smaller screens */
        margin: 0 auto;

  }
}