/* Unique classes for Quiz2 */
.quiz2-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz2-question {
  margin: 20px 0;
}

.quiz2-question-text {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #745b4f;
}

.quiz2-answer-section {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 20px;
}

.quiz2-answer-button {
  width: 100%; /* Full width */
  aspect-ratio: 16 / 9; /* Maintain aspect ratio */
  border: none;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center; /* Center text inside button */
  align-items: center; /* Center text vertically */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quiz2-answer-button:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.quiz2-results {
  text-align: center;
  margin-top: 20px;
}