.quiz-container {
  max-width: 50%;
  margin: auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  font-size: 18px;
  color: #745b4f;
}

.question-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #745b4f;
}

.answer-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.answer-button {
  color: white;
  min-height: 300px;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 12px;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  font-family: GFS Didot;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.answer-button:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.6);
}

.results-section {
  max-width: 50%;
  margin: auto;
  text-align: center;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .answer-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .quiz-container {
    margin-top: 20px;
    max-width: 80%;
  }

  .answer-button {
    min-height: 100px;
    padding: 15px;
  }
}
