/* ExampleTutorial.css */

.container {
    line-height: 2.25em;
    max-width: 100%;
    justify-content: center;
    margin: 2rem auto;
    padding: 1rem;
}

.card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    color: black;
    font-family: 'GFS Didot', sans-serif;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    padding: 1rem;
}

.heading {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Arapey', serif;
    color: black;
    margin: 1rem;
}

.paragraph {
    font-size: 1rem;
    font-family: 'GFS Didot', serif;
    margin: 1rem auto;
    max-width: 100%;
    color: black;
    padding: 1rem;
}

@media (min-width: 768px) {
    .heading {
        font-size: 2.5rem;
    }

    .paragraph {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .heading {
        font-size: 3.25rem;
    }

    .paragraph {
        font-size: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .container {
        line-height: 2.25em;
        max-width: 80%;
        margin: 10rem auto;
    }

    .paragraph {
        font-size: 1.5rem;
        margin: 2rem auto;
    }
}
