/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Container Styles */
body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Card Styles */
.card {
  background-color: white;
  color: #333;
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Blog Content Styles */
.blog-content {
  text-align: left;
  line-height: 1.5;
  max-width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  overflow-wrap: break-word;
}

/* Paragraph Styles */
.paragraph {
  font-size: 18px;
  max-width: 600px;
  margin: 1rem auto;
  line-height: 1.6;
}

/* Image Styles */
.image {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .container {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .card {
    padding: 1rem 1.5rem;
  }
  .paragraph {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    padding: 1rem 1.5rem;
  }
  .paragraph {
    max-width: 100%;
    font-size: 16px;
  }
}