/* General styles for the whole BarbieBlogPost component */
/* Reset hover effect for .card */
body {
 
    padding: '1rem'
}

.card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Keeps the shadow consistent with no change */
    transform: none !important; /* Ensures there is no movement or scaling */
    /* Any other hover effects you wish to neutralize can be reset here */
}

.iframeStyle {
    width: 100%;
    height: 525px; /* Adjusted height value */
    border: 0;
}

.container {
    max-width: 100%;
 
    box-sizing: border-box; /* Ensure padding doesn't add to the width */
}

.embed-container {
    display: block;
    margin: 1;
    width: 100%;
    min-height: 100%;
    height: calc(55vh + 16px); /* Adjust the value as needed */
    border: none;
    overflow: hidden; /* Hide overflow by default */
  }

  .large-text {
    text-align: left !important; /* Ensures text is aligned left */
  }
  
  
  @media (max-width: 1200px) {
    .embed-container {
      overflow: auto; /* Enable scrolling for screens less than 1200px */
    }
  }
  

/* Styles for each card */
.card {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    color: black;
    font-family: 'GFS Didot', sans-serif;
    text-align: left;
    margin: 0 auto 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for images */
.card img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/* Styles for blog content */
.blog-content {
    text-align: left;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

/* Override margin for screen sizes below 1300px */
@media screen and (max-width: 1000px) {
    .container {
        margin: 0 !important;
    }
}
