.responsive-button {
  padding: 0.4rem;
  font-size: 0.9rem;
}

@media (max-width: 1000px) {
  .responsive-button {
    padding: 0.3rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .responsive-button {
    padding: 0.2rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 576px) {
  .responsive-button {
    padding: 0.1rem;
    font-size: 0.6rem;
  }
}
