.rotating-text-container {
 
  background-color: white;
  font-family: 'Arapey, serif';
  overflow: hidden;
  white-space: nowrap;
}

.rotating-text {
  color: #745B4F;
  display: inline-block;
  animation: rotate-text 100s linear infinite;
  letter-spacing: 0.075rem; /* Increases spacing between all characters */
  font-size: 1rem; /* Default font size */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .rotating-text {
    font-size: 1rem; /* Adjust font size for medium screens */
  }
}

@media (max-width: 480px) {
  .rotating-text {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

@keyframes rotate-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
