.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebarButton {
  font-family: 'GFS Didot', serif !important;
  text-transform: none;
  display: block;
  background-color: white;
  color: #745B4F;
  font-size: 20px;
  text-align: left;
  width: 100%;
  padding: 2rem 1rem;
  justify-content: flex-start; /* Align text to the left */
}

.sidebarTypography {
  font-family: 'GFS Didot', serif !important;
  color: #745B4F;
  font-weight: bold;
  text-align: left; /* Ensure text inside Typography is left aligned */
}

@media (max-width: 1200px) {
  .sidebar {
    width: 50vw;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 70vw;
  }

  .sidebarButton {
    font-size: 1rem;
    padding: 1.5rem 1rem;
  }
}
