
.subscribeButton {
  background-color: #745B4F !important; /* Match the background color */
  color: #f8f8f8 !important; /* Match the text color */
  font-size: 1rem; /* Match the font size */
  font-weight: bold; /* Set font weight to bold */
  text-transform: lowercase; /* Ensure text is lowercase */
  letter-spacing: 0.1em; /* Add letter spacing */
  border-radius: 10px; /* Match the border-radius */
  padding: 10px 20px; /* Adjust padding */
  font-family: 'Playfair Display, sans-serif' !important; /* Ensure the correct font is used */
  margin: 0 auto; /* Center the button */
  width: 100%; /* Ensure it takes full width */
  box-shadow: none; /* Remove box shadow */
  transition: color 0.3s ease; /* Smooth color transition */
  border: 1px solid transparent; /* Add transparent border for hover effect */
}

.subscribeButton:hover {
  color: #000000 !important; /* Change text color on hover */
  background-color: #fdedef !important; /* Change background on hover */
  border: 1px solid #745B4F !important; /* Add border on hover */
}

.sidebarButton:hover {
  color: #745B4F;
}

.sidebarTypography {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #745B4F;
  font-weight: bold;
}

.subscribeButton {
  background-color: #3a3a3a !important;
  color: #ffffff !important;
  margin: 0 auto;
  width: 100%;
  font-family: 'Playfair Display', sans-serif !important; /* Ensure Playfair Display is always applied */
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.subscribeButton:hover {
  background-color: #545454;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 300px;
    padding: 1rem;
  }

  .sidebarButton {
    font-size: 16px;
    padding: 1rem 0.5rem;
  }

  .sidebarTypography {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 80vw;
    padding: 1rem;
  }

  .sidebarButton {
    font-size: 15px;
    padding: 0.8rem 0.4rem;
  }

  .sidebarTypography {
    font-size: 16px;
  }
}