.heroLink {
  text-decoration: none;  /* Remove underline from link */
  color: inherit;  /* Ensure text color stays consistent */
}

.heroSection {
  display: flex;
  justify-content: center;  /* Centers content horizontally */
  align-items: center;  /* Centers content vertically */
  padding: 40px 20px;  /* Adds padding to create more space around the content */
  min-height: 40vh;  /* Ensures the section takes up at least 80% of the viewport height */
  flex-wrap: wrap;  /* Allow wrapping for better responsiveness */
}

.textContent {
  flex: 1;
  margin : 0 auto;
  max-width: 600px;  /* Limits the width of the text content */
  text-align: center;
  font-family: 'GFS Didot', serif;  /* Use GFS Didot font */
}

.feature {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-family: 'GFS Didot', serif;  /* Ensure consistency */
}

.headline {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: 'GFS Didot', serif;  /* Ensure consistency */
}

.subtext {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'GFS Didot', serif;  /* Ensure consistency */
  color: #333;  /* Simplified color for faster rendering */
}

.author {
  font-size: 14px;
  font-style: italic;
  color: #555;
  font-family: 'GFS Didot', serif;  /* Ensure consistency */
}

.imageContent {
  flex: 1;
  text-align: right;
  max-width: 600px;  /* Limits the width of the image content */
}

.imageContent img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: block; /* Prevents image from being inline and causing layout shifts */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;  /* Stack the image and text vertically */
  }

  .textContent {
    padding-right: 0;  /* Remove right padding */
    padding-top: 20px;  /* Add some space between image and text */
    text-align: center;  /* Center the text */
  }

  .imageContent {
    text-align: center;  /* Center the image */
    max-width: 100%;  /* Allow image to take full width */
  }
}
