.lifestyleFavoritesWrapper {
    width: 100%;
    min-height: 1200px;
    margin-bottom: 2rem;
  }
  
  .lifestyleFavoritesIframe {
    margin-top: 7rem;
    width: 100%;
    min-height: 1200px;
    border: none;
    overflow: hidden;
    display: block;
  }
  
  @media (max-width: 1200px) {
    .lifestyleFavoritesWrapper {
      min-height: 1200px;
    }
  
    .lifestyleFavoritesIframe {
      min-height: 1200px;
    }
  }
  
  @media (max-width: 800px) {
    .lifestyleFavoritesWrapper {
        min-height: 1600px;
    }

    .lifestyleFavoritesIframe {
        min-height: 1600px;
    }
  }
  
  @media (max-width: 480px) {
    .lifestyleFavoritesWrapper {
      min-height: 1600px;
    }
  
    .lifestyleFavoritesIframe {
      min-height: 1600px;
    }
  }
  