/* Base styles for the container */
.supertextContainer {
  color: '#745B4F';
  background-color: #EBE8E4;
  margin: 2.5rem;
  height: 70vh;
  display: flex;
  flex-direction: row; /* Set to row to start with image on left, text on right */
  align-items: center; /* Align items vertically */
  max-height: 100%;
  overflow: hidden; /* Prevent overflow */
}

.imageContainer {
  margin: 1rem;
  position: relative;
  width: 100%; /* Adjusted to take less than half */
}

.supertextText {
  line-height: 1.25;
  color: '#745B4F';
  width: 75%;
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  flex: 1;
  box-sizing: border-box; /* Include padding and border in the element's width and height */
  order: 2; /* Set order to 2 so text appears on the right */
}

.supertextImage {
  border: 1rem solid #fdedef;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust shadow values as needed */
}

.overlayImage {
  position: fixed;
  margin-right: 5rem;
  top: 32.5rem; /* Position at the bottom */
  left: 90rem;
  width: 15%; /* Set the width of the overlay image */
  transition: transform 0.2s ease-in-out; /* Add transition for smooth animation */
}

.overlayImage:hover {
  animation: jiggle 0.3s ease infinite alternate; /* Add jiggle animation on hover */
}

@keyframes jiggle {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@media (max-width: 1200px) {
  .supertextContainer {
    flex-direction: column; /* Stack the children vertically */
    height: 100%;
  }

  .imageContainer {
    width: 50%; /* Ensure full width for both elements */
    order: 0; /* Reset order to natural stacking */
  }

  .supertextText {
    width: 80%; /* Ensure full width for both elements */
    order: 0; /* Reset order to natural stacking */
    margin-top: -1rem;
    font-size: 1rem; /* Optionally reduce font size on very small screens */
  }

  .supertextImage {
    max-height: 50vh; /* Remove max height restriction for better scaling */
  }
}
