.mediaContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.embedContainer {
  flex: 1;
  min-width: 300px;
}

.rightContainer {
  flex: 1;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stackItem {
  margin: 1rem;
}
