.mediaContainer {
  display: flex;
  padding: 0.1rem; /* Optional padding for some spacing */
  margin: 5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.videoContainer {
  margin-right: 1rem;
  width: 20%; /* Adjust width as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; /* Optional padding for some spacing */
}

.videoContainer video {
  width: 200px; /* Maximum width of the video */
  height: 350px; /* Maximum height of the video */
  width: 100%; /* Adjust width to be responsive within the container */
  height: auto; /* Maintain aspect ratio */
}

.leftContainer {
  width: 30%; /* Adjust width as needed */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

.stackItem {
  flex: 1; /* Divide space equally */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media query for screens smaller than 800px */
@media (max-width: 800px) {
  .mediaContainer {
    flex-direction: column; /* Stack items vertically */
  }

  .videoContainer, .leftContainer {
    width: 100%; /* Full width for each item */
    margin-right: 0; /* Remove right margin */
  }

  .stackItem {
    margin-bottom: 1rem; /* Optional spacing between stacked items */
  }
}
