.article-card-review {
  font-family: "GFS Didot", sans-serif;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: auto;
  border: 5px solid #fdedef;
  background-color: #fff;
  transition: transform 0.1s;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-card-review:hover {
  transform: translateY(-0.25rem);
}

.article-image-wrapper-review {
  width: 100%;
  height: auto;
  max-block-size: 300px;
  overflow: hidden;
}

.article-image-review {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.article-content {
  margin: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.article-date {
  font-family: "GFS Didot", sans-serif;
  font-size: 1rem;
  color: black;
  margin-bottom: 0.5rem;
}

.article-title {
  font-family: "GFS Didot", sans-serif;
  font-size: 1.5rem;
  color: #745B4F;
  margin-bottom: 0.75rem;
}

.read-more {
  font-family: "GFS Didot", sans-serif;
  font-size: 0.95rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: black;
  color: #fff;
  transition: background-color 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.read-more:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .article-card-review {
    padding: 0.5rem;
  }

  .article-image-wrapper-review {
    max-block-size: 200px;
  }

  .article-date {
    font-size: 0.85rem;
  }

  .article-title {
    font-size: 1.25rem;
  }

  .read-more {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .article-card-review {
    padding: 0.5rem;
  }

  .article-image-wrapper-review {
    max-block-size: 150px;
  }

  .article-date {
    font-size: 0.75rem;
  }

  .article-title {
    font-size: 1rem;
  }

  .read-more {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
  }
}
