.article-card-review {
  font-family: "GFS Didot", sans-serif;
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: auto;
  border: 5px solid #fdedef;
  background-color: #fff;
  transition: transform 0.1s;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-card-review:hover {
  transform: translateY(-0.25rem);
}

.article-image-wrapper-review {
  width: 100%;
  height: auto; /* Allow the height to adjust based on image size */
  max-height: 100%; /* Ensure it doesn't exceed parent's height */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-image-review {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
  object-fit: contain; /* Ensure the entire image fits within the container */
  margin-bottom: 1rem;
}

@media (max-width: 1008px) {
  .article-image-wrapper-review {
    height: auto; /* Allow the height to adjust based on image size */
  }
}

@media (max-width: 880px) {
  .article-image-wrapper-review {
    height: auto; /* Allow the height to adjust based on image size */
  }
}
