.sliderContainer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: '0 auto';
  justify-content: center;
}

.sliderImages {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.sliderImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  
  transform: translateY(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
