.responsiveIframeContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .responsiveIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
  }
  
  @media (max-width: 1000px) {
    .responsiveIframe {
      position: relative;
      height: 500px; /* Ensure a minimum height on smaller screens */
    }
  }
  