@import url('https://fonts.googleapis.com/css2?family=Arapey&family=GFS+Didot&family=Italianno&display=swap');

.hero { 
  width: 100%; 
  margin-top: 0;
  height: 22vh;
  background-color: #FDEDEF;
  display: grid;
  place-items: center;
}

.textReveal {
  display: inline-block;
  opacity: 0;
  animation: fade-in 3s forwards; /* Fade-in animation with 1-second duration */
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

h1 {
  font-family: Arapey, serif;
  font-size: 60px; /* Use viewport width for responsiveness */
  text-align: center;
  font-weight: 100; /* Adjusted for a lighter font weight */
}

/* Responsive font size adjustments */
@media (max-width: 600px) {
  h1 {
    font-size: 7vw !important; /* Increase font size for smaller screens and use !important */
  }

  .hero {
    height: 15vh; /* Increase height to accommodate larger text */
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 6vw !important; /* Further increase font size for very small screens and use !important */
  }

  .hero {
    height: 15vh; /* Further increase height to accommodate larger text */
  }
}
