.article-card {
  font-family: "GFS Didot", sans-serif;
  padding: 1rem; /* Adjusted padding for smaller screens */
  border-radius: 4px; /* Rounded corners */
  display: flex;
  flex-direction: column; /* Changed to column for better vertical layout */
  align-items: center;
  max-width: 100%;
  border: 5px solid #fdedef;
  background-color: #fff;
  transition: transform 0.1s;
  overflow: hidden;
}

.article-card:hover {
  transform: translateY(-0.25rem);
}

.article-image-review {
  box-shadow: none !important;
  width: 100%; /* Full width for better responsiveness */
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem; /* Space between image and content */
}

.article-content {
  margin: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.article-date {
  font-family: "GFS Didot", sans-serif;
  font-size: 1.25rem;
  color: black;
  margin-bottom: 1.25rem;
}

.article-title {
  font-family: "GFS Didot", sans-serif;
  font-size: 1.75rem;
  color: #745B4F;
  margin-bottom: 1rem;
}

.read-more {
  font-family: "GFS Didot", sans-serif;
  font-size: 0.95rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: black;
  color: #fff;
  transition: background-color 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.read-more:hover {
  background-color: #333; /* Darker on hover */
}
