.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjusted min width for responsiveness */
  grid-gap: 1rem;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .article-list {
    padding: 1.5rem;
    max-width: 800px;
  }
}

@media (max-width: 800px) {
  .article-list {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .article-list {
    grid-template-columns: 1fr; /* Single column layout for mobile screens */
    grid-gap: 1rem;
    padding: 0.5rem;
  }
}

.article-list .article-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: box-shadow 0.3s ease;
}

.article-list .article-card:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
