/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=GFS+Didot&family=Italianno&display=swap');


* {
  font-display: swap;
}



/* App.css */
.main-content {
  padding-top: 60px; /* Ensure this aligns correctly with the height of your AppBar */
  background-color: #ffffff;
  
  position: relative; /* Make sure it's positioned correctly */
  z-index: 1; /* Lower than AppBar to prevent overlap issues */
}

html, body {
  overflow-x: hidden;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}